<ul>
  <% if ::Refinery::Portfolio::Admin::ItemsController.searchable? %>
    <li>
      <%= render :partial => "/refinery/admin/search",
                  :locals => {
                    :url => refinery.portfolio_admin_items_path
                  } %>
    </li>
  <% end %>
  <li>
    <%= link_to t('.back_to_galleries'), refinery.portfolio_admin_galleries_path, :class => 'go_icon' %>
  </li>

  <li>
    <%= link_to t('.create_new'), refinery.new_portfolio_admin_item_path,
                 :class => "add_icon" %>
  </li>
  <li>
    <%= link_to t('.create_multiple'), refinery.new_multiple_portfolio_admin_gallery_items_path(@gallery),
                 :class => "add_icon" %>
  </li>

  <li>
    <%= link_to t('.multiply_description'), refinery.multiply_description_portfolio_admin_gallery_items_path(@gallery),
                 :class => "add_icon", method: :post %>
  </li>
<% if !searching? && @items.many? %>
  <% if @sort_index %>
    <li>
      <%= link_to t('.reorder', :what => "Images"),
                   refinery.portfolio_admin_gallery_items_path(@gallery),
                   :id => "reorder_action",
                   :class => "reorder_icon" %>

      <%= link_to t('.reorder_done', :what => "Images"),
                   refinery.portfolio_admin_gallery_items_path(@gallery),
                   :id => "reorder_action_done",
                   :style => "display: none;",
                   :class => "reorder_icon" %>
    </li>
    <li>
      <%= link_to t('pagination_index', scope: 'refinery.admin'), refinery.portfolio_admin_gallery_items_path(@gallery),
                   :class => "go_icon" %>
    </li>
  <% else %>
    <li>
      <%= link_to t('reorder_index', scope: 'refinery.admin'), refinery.sort_index_portfolio_admin_gallery_items_path(@gallery),
                   :class => "go_icon" %>
    </li>
  <% end %>
<% end %>
</ul>

